

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3edf7;
    min-height: 80vh;
    margin-top: 5rem;
}


 
.container{
    margin: auto;
    width: 600px;
    text-align: center  ;
    
}

.container .box {
    background-color: #fff;
    border-radius: 2rem;
    padding: 6rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.container .box h1{
    margin-bottom: 2rem;
}

.container .box h2{
    margin-bottom: 2rem;
}

.container .box button {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
    padding: 1.1rem;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    
}

.container .box p {
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    font-weight:600;
    margin-bottom: 1.3rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.7),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

label{
    position: absolute;
    top: 1px;
    left: 30px;
    width: 60px;
    height: 30px;
    border-radius: 1rem;
    margin-top: 2rem;
    border: 2px solid black;

}

label i{
    position: absolute;
    color: white;
    top: 5px;
    left: 5px;
    font-size:13px ;
    display: flex;
    flex: 1 1;
}


label::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:black;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .5s ease-out;
}

label.active::before{
    background-color: #e3edf7;
    left: 30px;
}



.dark {
    background-color: black;
}












